#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lName, .lAge {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 700;
  margin: 20px;
}
#name, #Age{
  width: 50vw;
  height: 3rem;
  padding-left: 3rem;

  border: solid #9333EA;
  border-radius: 6px;

  color: antiquewhite;
  font-weight: 600;
  font-size: 1rem;

}


#Age {
  margin-bottom: 24px;
}

#name, #Age:focus {
  border: solid #9333EA;
  border-radius: 6px;

  outline: none;
}
